<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COVID Fake News</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    
</head>	
<body>
    <h1>I'm a Natural Language Processing model.</h1>
    <h5>You can teach me how to recognize Covid fake news.<br>Use the below input field to type a tweet about COVID and I'll predict this tweet is FAKE or REAL.</h5>
    <div class="row">
        <div class="col-md-6">
            <form action="classify" method="GET">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <p><strong>INPUT</strong></p>
                                <textarea class="input" name="txt" id="txt" placeholder="Paste/Type your Tweet here ... ">{{sentence}}</textarea>
                            </div>
                        </div>
                        <div class="field">
                            <input class="button is-light" type="reset" onclick="retry()">Retry</input>
                            <input type="submit" class="button is-success" value="Predict"></input>
                        </div>  
                    </div>
                </div>
            </form>  

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-content" style="margin-bottom: 75px;">
                    <div class="content">
                        <div class="field">
                            <p><strong>OUTPUT</strong></p>
                            <textarea class="{{label_class}}" id="output-label" cols="30" row="9" readonly>{{ label }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>